.side-nav-left {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.side-nav-left a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.side-nav-left a:hover {
    color: #f1f1f1;
}

.sidecontainer {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.inputValue {
    color: white;
}

h2 {
    color: white;
    font-family: 'Work Sans', sans-serif;
}

h3 {
    color: white;
    font-size: medium;
    font-family: 'Work Sans', sans-serif;
}

h4 {
    color: white;
    font-size: small;
    font-family: 'Work Sans', sans-serif;
}


body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}